.social-login 
    button.social-login--github
        a(href=routes.gitHub)
            i.fab.fa-github
            |  Contiue with Github
    button.social-login--facebook
        a(href=routes.facebook)
            i.fab.fa-facebook-square
            |  Contiue with Facebook